body {
        text-align: center;
        background: rgb(88, 45, 87);
        width: 500px;
        margin: auto
}
#h1title {
        color: rgb(219, 93, 20);
        border: 1px rgb(219, 93, 20) solid;
        text-align: center;
        margin: auto;
        margin-top: 5mm;
        width: fit-content;
}
#h3title {
       color: slateblue;
}
#clicker{
        color: rgb(50, 148, 148);
        background: transparent;
        border-color: rgb(50, 148, 148) ;
}
