body {
        text-align: center;
        background: rgb(88, 45, 87);
        width: 500px;
        margin: auto
}
#h1title {
        color: rgb(219, 93, 20);
        border: 1px rgb(219, 93, 20) solid;
        text-align: center;
        margin: auto;
        margin-top: 5mm;
        width: fit-content;
}
#h3title {
       color: slateblue;
}
/*
https://github.com/poonam-adlakha/CSS-buttons
*/
#clicker{
        color: orangered;
         border: 2px solid rgb(235, 94, 13);
         background: transparent;
}
#clicker:hover {
        color: aqua;
        box-shadow: 0 0 5px rgb(235, 94, 13),
            0 0 25px rgb(235, 94, 13),
            0 0 35px rgb(235, 94, 13),
            0 0 50px rgb(235, 94, 13);
}